<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/screen.css">
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/busqueda.css"/> 
  </head>
  <body>
  <div class="container">
    <div id="header" class="floatleft clear">
      <h1>CARS FOR SALE<h1>
    </div>



    <div id="leftsidebar" class="floatleft clear">
      <strong class="floatleft">Usuario:</strong> 
      <p class="floatleft">Juancamanei14</p>
      <form>
        Nickname: <input type="text" name="nickname" /><br /> 
        Nombre: <input type="text" name="nombre" /><br />
        Correo: <input type="text" name="correo" /><br />
        Ciudad: <input type="text" name="Ciudad" /><br />
        Telefono: <input type="text" name="telefono" />
      <input type="submit" value="Registrar" />
      </form>

    </div>




    <div id="mainnav" class="floatleft">
      <h1 class="floatleft">Busqueda</h1>
      <input class="uno floatleft" type="submit" value="Nueva busqueda" />
      <div class="box floatleft clear">
              <img class="van floatleft" src="../../public/images/honda2.jpg" widht="110px" height="85px">  
              <p class="floatleft">Marca:</p><strong class="floatleft">Honda</strong>
              <p class="floatleft">Modelo:</p><strong class="floatleft">Civic</strong>
              <p class="floatleft">Anio:</p><strong class="uno floatleft">2008</strong>
              <p class="floatleft">Precios:</p><strong class="floatleft">16,500dlls</strong>
              <p class="floatleft">Ubicacion:</p><strong class="dos floatleft">San luis R.C.Sonora</strong>
              <p class="floatleft">Titulo:</p><strong class="floatleft">Nacional</strong>
              <p class="floatleft">Celular:</p><strong class="floatleft">653-108-3541</strong>
      </div>             
              <input class="floatleft" type="submit" value="Ver detalles" />
      <div class="box floatleft clear">
              <img class="lancha floatleft" src="../../public/images/fiat147.jpg" widht="110px" height="85px">  
              <p class="floatleft">Marca:</p><strong class="floatleft">Fiat</strong>
              <p class="floatleft">Modelo:</p><strong class="floatleft">147</strong>
              <p class="floatleft">Anio:</p><strong class="uno floatleft">1995</strong>
              <p class="floatleft">Precios:</p><strong class="floatleft">640dlls</strong>
              <p class="floatleft">Ubicacion:</p><strong class="dos floatleft">San luis R.C.Sonora</strong>
              <p class="floatleft">Titulo:</p><strong class="floatleft">Nacional</strong>
              <p class="floatleft">Celular:</p><strong class="floatleft">653-108-3541</strong>  
      </div>      
              <input class="floatleft" type="submit" value="Ver detalles" />
      <div class="box floatleft clear">
              <img class="jeep floatleft" src="../../public/images/suburban.JPG" widht="110px" height="85px">  
              <p class="floatleft">Marca:</p><strong class="floatleft">Toyota</strong>
              <p class="floatleft">Modelo:</p><strong class="floatleft">Suburban</strong>
              <p class="floatleft">Anio:</p><strong class="uno floatleft">2007</strong>
              <p class="floatleft">Precios:</p><strong class="floatleft">6,000dlls</strong>
              <p class="floatleft">Ubicacion:</p><strong class="dos floatleft">San luis R.C.Sonora</strong>
              <p class="floatleft">Titulo:</p><strong class="floatleft">Nacional</strong>
              <p class="floatleft">Celular:</p><strong class="floatleft">653-108-3541</strong>  
      </div>   
              <input class="floatleft" type="submit" value="Ver detallles" />
              <div class="box floatleft clear">
              <img class="van floatleft" src="../../public/images/camion.jpg" widht="110px" height="85px">  
              <p class="floatleft">Marca:</p><strong class="floatleft">Camion</strong>
              <p class="floatleft">Modelo:</p><strong class="floatleft">Alto voltaje</strong>
              <p class="floatleft">Anio:</p><strong class="uno floatleft">2000</strong>
              <p class="floatleft">Precios:</p><strong class="floatleft">500dlls</strong>
              <p class="floatleft">Ubicacion:</p><strong class="dos floatleft">San luis R.C.Sonora</strong>
              <p class="floatleft">Titulo:</p><strong class="floatleft">Nacional</strong>
              <p class="floatleft">Celular:</p><strong class="floatleft">653-108-3541</strong>
      </div>             
              <input class="floatleft" type="submit" value="Ver detalles" />
              <input class="dos floatleft" type="submit" value="Siguiente" />
    </div>
   
   
   

   
   
    <div id="rightsidebar" class="floatleft">
      <img class="ferrari" src="	../../public/images/ferrari.jpg" widht="110px" height="85px">  
      <p class="floatleft clear">Ferrari</p>
      <p class="floatleft clear">F1</p>
      <p class="floatleft clear">Chiapas</p>
      <p class="floatleft clear">$1500 dlls</p>
      <img class="tanque" src="../../public/images/tanque.jpg" widht="121px" height="91px">
      <p class="floatleft clear">Tanque</p>
      <p class="floatleft clear">De Guerra</p>
      <p class="floatleft clear">Oaxaca</p>
      <p class="floatleft clear">$8000 dlls</p>      
      <img class="mclaren" src="../../public/images/mclaren.jpg" widht="95px" height="75px">
      <p class="floatleft clear">McLaren</p>
      <p class="floatleft clear">F1</p>
      <p class="floatleft clear">Sinaloa</p>
      <p class="floatleft clear">$4500 dlls</p>
      <img class="fordt" src="../../public/images/fordt.jpg" widht="141px" height="100px">
      <p class="floatleft clear">Ford</p>
      <p class="floatleft clear">T</p>
      <p class="floatleft clear">Chihuahua</p>
      <p class="floatleft clear">$800 dlls</p>
      <img class="riviera" src="../../public/images/riviera.jpg" widht="121px" height="91px">   
      <p class="floatleft clear">Trophy Truck</p>
      <p class="floatleft clear">Riviera</p>
      <p class="floatleft clear">tepic</p>
      <p class="floatleft clear">$1200 dlls</p>    
    </div>
   
   
    <div id="footer" class="floatleft">
      <strong class="floatleft">Cars For Sale &copy; 2011</strong>
      <h4 class="floatleft clear">Avisos legales</h4>
      <p class="floatleft">Esta pagina solo hace el contacto del comprador y el vendedor nosotros 
         no checamos de que el carro sea el mismo de la fotografia, que no sea 
         robado o que este en las condiciones que indica el venderor, es 
         responsabilidad del comprador checar que los datos sean ciertos. Joto el que lo lea.<p>
    </div>
  </div> 
  </body>
</html>
