#header
{
background-color:#90C140;
width:950px;
height:200px;	
border:1px solid gray;
}
#header h1
{
font-size:50px;
text-align:center;
margin:70px 0 0 0;
}



#leftsidebar   
{
background-color:#90C140;
width:150;
height:800;
border:1px solid gray;
}

#leftsidebar button
{
margin:50px 0 0 40px;
}  

#leftsidebar p
{
margin:60px 0 20px 15px;
}

#leftsidebar input[type="text"]  
{height:28; width:150; horizontal-align:right;}

#leftsidebar input[type="submit"]
{ margin:10px 0 0 55px;}


#mainnav
{
background-color:#E7F0D0;
width:648px;
height:800;
border:1px solid gray;
}
#mainnav button.one
{
margin:55px 0 0 225px;
}
#mainnav h1
{
margin:50px 0 0 150px;
}
#mainnav button.two
{
margin:50px 0 0 218px;
}

#mainnav .auto
{
margin:50px 0 0 190px;
}
#mainnav .auto select
{
margin:13px 5px 0 5px;
}
#mainnav .auto p.de
{
margin:16px 0 0 5px;
}
#mainnav .auto button
{
margin:20px 0 0 190px;
}

#mainnav .alta_auto label{
  text-align:right;
  margin: 8px 10px 0 0;
  width:150px;
}
#mainnav .alta_auto textarea{
  height:100px;
  width:200px;
}
#rightsidebar
{
background-color:#90C140;
width:145;
height:800;
border:1px solid gray;
}
#rightsidebar p
{
font-size:14px;
margin:0 0 0 5px;
}
#rightsidebar img
{
margin:0 0 0 3px;
}





#footer
{
background-color:#90C140;
width:950;
height:100;
border:1px solid gray;
}
#footer strong
{
font-size:18px;
margin: 5px 0 0 700px;
}
#footer h4
{
margin:25px 0 0 5px;
font-size:14px;
}
#footer p
{
margin:0 0 0 0;
font-size:11px;
text-indent:20px;
}




.floatleft
  {
    float:left;
  }
.clear
  {
    clear:both;
  }
.m-left-1{
  margin-left: 10px !important;
}
.m-left-2{
  margin-left:20px !important;
}
.m-left-3{
  margin-left:30px !important;
}
.m-left-4{
  margin-left:40px !important;
}
.m-left-5{
  margin-left:50px !important;
}
.m-left-6{
  margin-left:60px !important;
}
.m-left-7{
  margin-left:70px !important;
}
.m-left-8{
  margin-left:80px !important;
}
.m-left-9{
  margin-left:90px !important;
}
.m-left-10{
  margin-left:100px !important;
}
.m-left-11{
  margin-left:110px !important;
}
.m-left-12{
  margin-left:120px !important;
}
.m-left-13{
  margin-left:130px !important;
}
.m-left-14{
  margin-left:140px !important;
}
.m-left-15{
  margin-left:150px !important;
}
.m-left-18{
  margin-left:180px !important;
}
.m-left-28{
  margin-left:280px !important;
}
.m-left-30{
  margin-left:300px !important;
}  
