#header
{
background-color:#90C140;
width:950px;
height:200px;	
border:1px solid gray;
}
#header h1
{
font-size:50px;
text-align:center;
margin:70px 0 0 0;
}



#leftsidebar   
{
background-color:#90C140;
width:150;
height:800;
border:1px solid gray;
}

#leftsidebar button
{
margin:50px 0 0 40px;
}  

#leftsidebar p
{
margin:60px 0 20px 15px;
}

#leftsidebar input[type="text"]  
{height:28; width:150; horizontal-align:right;}

#leftsidebar input[type="submit"]
{ margin:10px 0 0 55px;}


#mainnav
{
background-color:#E7F0D0;
width:650;
height:800;
border:1px solid gray;
}
#mainnav button.one
{
margin:55px 0 0 225px;
}
#mainnav h1
{
margin:50px 0 0 150px;
}
#mainnav button.two
{
margin:50px 0 0 218px;
}

#mainnav .auto
{
margin:50px 0 0 190px;
}
#mainnav .auto select
{
margin:13px 5px 0 5px;
}
#mainnav .auto p.de
{
margin:16px 0 0 5px;
}
#mainnav .auto button
{
margin:20px 0 0 190px;
}



#rightsidebar
{
background-color:#90C140;
width:145;
height:800;
border:1px solid gray;
}
#rightsidebar p
{
font-size:14px;
margin:0 0 0 5px;
}
#rightsidebar img
{
margin:0 0 0 3px;
}





#footer
{
background-color:#90C140;
width:950;
height:100;
border:1px solid gray;
}
#footer strong
{
font-size:18px;
margin: 5px 0 0 700px;
}
#footer h4
{
margin:25px 0 0 5px;
font-size:14px;
}
#footer p
{
margin:0 0 0 0;
font-size:11px;
text-indent:20px;
}




.floatleft
  {
    float:left;
  }
.clear
  {
    clear:both;
  }    
