<html>
  <head>
          <link rel="stylesheet" type="text/css" href="public/stylesheets/reset.css">
          <link rel="stylesheet" type="text/css" href="public/stylesheets/screen.css">
          <link rel="stylesheet" type="text/css" href="public/stylesheets/Carro completo.css"/> 
  </head>
  <body>
    <div id="header" class="floatleft clear">
      <h1>CARS FOR SALE<h1>
    </div>



    <div id="leftsidebar" class="floatleft clear">
      <button type="button" class="floatleft clear">Log In</button>
      <p class="floatleft">Darse de alta</p> 
      <form>
        Nickname: <input type="text" name="nickname" /><br /> 
        Nombre: <input type="text" name="nombre" /><br />
        Correo: <input type="text" name="correo" /><br />
        Ciudad: <input type="text" name="Ciudad" /><br />
        Telefono: <input type="text" name="telefono" />
      <input type="submit" value="Registrar" />
      </form>

    </div>




    <div id="mainnav" class="floatleft">
       <h1>Ford Tundra 2014</h1>       
       <img class="tundra" src="public/images/bg4.jpg" widht="500px" height="300px"> 
       <div class="box">
       <p class="floatleft">Precios:</p><strong class="floatleft">7,500dlls</strong>
       <p class="floatleft clear">Ubicacion:</p><strong class="floatleft">San luis R.C.Sonora</strong>
       <p class="floatleft clear">Marca:</p><strong class="floatleft">Ford</strong>
       <p class="floatleft clear">Modelo:</p><strong class="floatleft">Tundra</strong>
       <p class="floatleft clear">Anio:</p><strong class="floatleft">2014</strong>
       <p class="floatleft clear">Color:</p><strong class="floatleft">Primer negro</strong>
       <p class="floatleft clear">Titulo:</p><strong class="floatleft">Nacional</strong>
       <p class="floatleft clear">Millaje:</p><strong class="floatleft">201,000</strong>
       <p class="floatleft clear">Transmicion:</p><strong class="floatleft">Automatico</strong>
       <p class="floatleft clear">cilindraje:</p><strong class="floatleft">8 cil.</strong>
       <p class="floatleft clear">A/C:</p><strong class="floatleft">si</strong>
       <p class="floatleft clear">Sonido:</p><strong class="floatleft">Stereo mp3, Subwofer</strong>
       <p class="floatleft clear">Descripcion:</p><strong class="floatleft">Enterito de paquete</strong> 
       <p class="floatleft clear">Celular:</p><strong class="floatleft">653-108-3541</strong> 
       </div>
    </div>
        
    <div id="rightsidebar" class="floatleft">
      <img class="ferrari" src="public/images/ferrari.jpg" widht="110px" height="85px">  
      <p class="floatleft clear">Ferrari</p>
      <p class="floatleft clear">F1</p>
      <p class="floatleft clear">Chiapas</p>
      <p class="floatleft clear">$1500 dlls</p>
      <img class="tanque" src="public/images/tanque.jpg" widht="121px" height="91px">
      <p class="floatleft clear">Tanque</p>
      <p class="floatleft clear">De Guerra</p>
      <p class="floatleft clear">Oaxaca</p>
      <p class="floatleft clear">$8000 dlls</p>      
      <img class="mclaren" src="public/images/mclaren.jpg" widht="95px" height="75px">
      <p class="floatleft clear">McLaren</p>
      <p class="floatleft clear">F1</p>
      <p class="floatleft clear">Sinaloa</p>
      <p class="floatleft clear">$4500 dlls</p>
      <img class="fordt" src="public/images/fordt.jpg" widht="141px" height="100px">
      <p class="floatleft clear">Ford</p>
      <p class="floatleft clear">T</p>
      <p class="floatleft clear">Chihuahua</p>
      <p class="floatleft clear">$800 dlls</p>
      <img class="riviera" src="public/images/riviera.jpg" widht="121px" height="91px">   
      <p class="floatleft clear">Trophy Truck</p>
      <p class="floatleft clear">Riviera</p>
      <p class="floatleft clear">tepic</p>
      <p class="floatleft clear">$1200 dlls</p>    
    </div>
   
   
    <div id="footer" class="floatleft">
      <strong class="floatleft">Cars For Sale &copy; 2011</strong>
      <h4 class="floatleft clear">Avisos legales</h4>
      <p class="floatleft">Esta pagina solo hace el contacto del comprador y el vendedor nosotros 
         no checamos de que el carro sea el mismo de la fotografia, que no sea 
         robado o que este en las condiciones que indica el venderor, es 
         responsabilidad del comprador checar que los datos sean ciertos. Joto el que lo lea.<p>
    </div>
   
  </body>
</html>
