<html>
  <head>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="public/stylesheets/screen.css">
    <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css"/> 
  </head>
  <body>
  <div class="container">
    <div id="header" class="floatleft clear">
      <h1>CARS FOR SALE<h1>
    </div>



    <div id="leftsidebar" class="floatleft clear">
      <button type="button" class="floatleft clear">Log In</button>
      <p class="floatleft">Darse de alta</p> 
      <form>
        Nickname: <input type="text" name="nickname" /><br /> 
        Nombre: <input type="text" name="nombre" /><br />
        Correo: <input type="text" name="correo" /><br />
        Ciudad: <input type="text" name="Ciudad" /><br />
        Telefono: <input type="text" name="telefono" />
      <input type="submit" value="Registrar" />
      </form>

    </div>




    <div id="mainnav" class="floatleft">
      <button class="one floatleft clear" type="button">Vende tu auto aqui!!!</button>
      <h1 class="floatleft clear">Buscar automovil</h1>
      <button class="two floatleft clear" type="button">Seleccionar ubicacion</button>
      <div class="auto floatleft clear">
        <p class="floatleft clear">Estado:</p>
        <select class="floatleft">
          <option></option>
          <option>Sonora</option>
          <option>Sinaloa</option>
          <option>Michoacan</option>
          <option>Baja California</option>
        </select>
        <p class="floatleft clear">Ciudad:</p>
        <select class="floatleft">
          <option></option>
          <option>San luis R.C.</option>
          <option>Mexicali</option>
          <option>Culiacan</option>
          <option>Hermosillo</option>
        </select>
        <p class="floatleft clear">Modelo:</p>
        <select class="floatleft">
          <option></option>
          <option>Volvo</option>
          <option>Saab</option>
          <option>Mercedes</option>
          <option>Audi</option>
        </select>
        <p class="floatleft clear">Marca:</p>
        <select class="floatleft"> 
          <option></option>
          <option>Ranger</option>
          <option>Malibu</option>
          <option>Xterra</option>
          <option>Yaris</option>
        </select>
        <p class="floatleft clear">Anio</p>
        <p class="de floatleft">de:</p>
          <select class="floatleft">
          <option></option>
          <option></option>
          <option>1996</option>
          <option>1997</option>
          <option>1998</option>
          <option>1999</option>
        </select>
        <p class="floatleft">a:</p>
        <select class="floatleft">
          <option></option>
          <option>2001</option>
          <option>2002</option>
          <option>2003</option>
          <option>2004</option>
        </select>
        <p class="floatleft clear">Color:</p>
        <select class="floatleft">
          <option></option>
          <option>Gris</option>
          <option>Verde</option>
          <option>Negro</option>
          <option>Azul</option>
        </select>
        <p class="floatleft clear">Precio aprox:</p>
        <select class="floatleft">
          <option></option>
          <option>Menos...</option>
          <option>De $500 a $1500</option>
          <option>De $1500 a $2500</option>
          <option>De $2500 a $3500</option>
          <option>Mas...</option>
        </select> 
        <button class="floatleft clear" type="button">Buscar</button>
      </div>   
    </div>
   
   
   

   
   
    <div id="rightsidebar" class="floatleft">
      <img class="ferrari" src="	public/images/ferrari.jpg" widht="110px" height="85px">  
      <p class="floatleft clear">Ferrari</p>
      <p class="floatleft clear">F1</p>
      <p class="floatleft clear">Chiapas</p>
      <p class="floatleft clear">$1500 dlls</p>
      <img class="tanque" src="public/images/tanque.jpg" widht="121px" height="91px">
      <p class="floatleft clear">Tanque</p>
      <p class="floatleft clear">De Guerra</p>
      <p class="floatleft clear">Oaxaca</p>
      <p class="floatleft clear">$8000 dlls</p>      
      <img class="mclaren" src="public/images/mclaren.jpg" widht="95px" height="75px">
      <p class="floatleft clear">McLaren</p>
      <p class="floatleft clear">F1</p>
      <p class="floatleft clear">Sinaloa</p>
      <p class="floatleft clear">$4500 dlls</p>
      <img class="fordt" src="public/images/fordt.jpg" widht="141px" height="100px">
      <p class="floatleft clear">Ford</p>
      <p class="floatleft clear">T</p>
      <p class="floatleft clear">Chihuahua</p>
      <p class="floatleft clear">$800 dlls</p>
      <img class="riviera" src="public/images/riviera.jpg" widht="121px" height="91px">   
      <p class="floatleft clear">Trophy Truck</p>
      <p class="floatleft clear">Riviera</p>
      <p class="floatleft clear">tepic</p>
      <p class="floatleft clear">$1200 dlls</p>    
    </div>
   
   
    <div id="footer" class="floatleft">
      <strong class="floatleft">Cars For Sale &copy; 2011</strong>
      <h4 class="floatleft clear">Avisos legales</h4>
      <p class="floatleft">Esta pagina solo hace el contacto del comprador y el vendedor nosotros 
         no checamos de que el carro sea el mismo de la fotografia, que no sea 
         robado o que este en las condiciones que indica el venderor, es 
         responsabilidad del comprador checar que los datos sean ciertos. Joto el que lo lea.<p>
    </div>
  </div> 
  </body>
</html>
